footer {
    background: #efefef;
    padding: 30px 0;
}

footer h4 {
    font-weight: bolder;
}

footer a {}

.nut-mxh {
    width: 32px;
    margin: 10px 10px 10px 0;
}

footer .nut-bct {
    height: 40px;
    margin-top: 10px;
    max-width: 49%;
}

footer hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.chantrang-lienhe {
    padding-top: 10px;
    font-size: 13px;
}

footer ul {
    list-style: none;
    margin: 0px 0px 10px 0;
    overflow-x: hidden;
}

footer li {
    padding: 5px 0;
}

footer li a {
    padding: 5px 0;
}

.chantrang-logo {
    max-width: 200px;
}

.changtrang-congty h2 {
    font-weight: bold;
    margin: 5px 0;
}

.chantrang-2 {
    background: #64b9e5;
    color: #fff;
    padding: 10px;
}

.chantrang-2 a {
    color: #fff;
}

.nut-google-cong {
    display: inline-block;
    position: relative;
    top: 4px;
}

.trang-loi {
    padding: 15px;
    min-height: 380px;
    max-width: 800px;
    margin: 20px auto;
}

.trang-loi h1 {
    font-size: 18px;
    font-weight: bold;
}

.trang-loi p {
    margin: 15px 0;
}

.trang-loi .thongbao-loi {
    margin: 20px 0;
    max-width: 100%;
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}
.title{
    font-size: 20px;
}

.size {
    font-size: 30px;
    margin-right: 21px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cot-8.chu-phai-vua {
    margin-left: 46%;
}