
.chantrang-logo {
    max-width: 200px;
}


.chantrang-2 {
    border-top: 2px solid black;
    background: #64b9e5;
    color: #fff;
    padding: 10px;
}

.chantrang-2 a {
    color: #fff;
}





.trang-loi h1 {
    font-size: 18px;
    font-weight: bold;
}

.title{
    font-size: 20px;
}

.size {
    font-size: 30px;
    margin-right: 21px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cot-8.chu-phai-vua {
    margin-left: 46%;
}